@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*/

html {
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.main-header-nav ul, .main-header-nav li {
  @apply px-[10px] xl:px-[20px]
}

.nav-links {
  @apply font-normal hover:text-cyan-400 transition-colors duration-100 cursor-pointer;
}

.stacked-card {
  @apply w-98 h-98 border rounded-2xl absolute cursor-pointer transition-transform duration-100 ease-in-out hover:-translate-y-4 hover:scale-100;
}

.wwd-item {
  @apply max-w-[331px] flex flex-col gap-[14px];
}

.iconimage {
  @apply w-12 h-12 bg-[#D9D9D9];
}

.wwd-item h3, .wwd-item p {
  @apply text-[20px] leading-[24px] ;
}

.wwd-item p {
  @apply pb-4 sm:pb-0;
}

.services-parent h4 {
  @apply text-lg;
}

.servcie-container {
  @apply sm:max-w-[365px] min-w-[300px];
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.30);
  @apply flex-1 h-full;
}

.servcie-container h3 {
  @apply text-xl;
}

.feature-item {
  @apply flex justify-center items-center w-[320px];
}

.feature-item > div {
  @apply w-[284px] py-[24px];
}

.feature-item h4 {
  @apply leading-[24px] text-[20px] font-bold pb-[5px];
}

.feature-item p {
  @apply leading-[24px] text-[20px] w-[255px];
}

.service-item {
  @apply gap-[35px];
}

.service-item p {
  @apply pb-[5px];
}

.text-side {
  @apply md:w-[698px] flex flex-col gap-[5px];
}

.text-side h2 {
  @apply md:leading-[140%] text-[36px] font-bold ;
}

.text-side p {
  @apply md:text-[24px] leading-[140%];
}

.wcu-item-text h3 {
  @apply leading-[29px] md:text-[24px] font-bold ;
}

.wcu-item-text p {
  @apply leading-[24px] md:text-[20px] md:w-[386px] ;
}


.header-controls-container div {
  @apply p-2 bg-gray-500;
}

.projects-nav-item {
  @apply flex items-center;
}

.projects-nav-item div {
  @apply flex items-center px-2 cursor-pointer h-[30px] hover:bg-white/6 rounded;
}

.projects-nav-item div p {
  @apply leading-[30px];
}

.projects-nav-item div .nav-icon {
  @apply w-4 h-4 bg-gray-500 mr-[8px];
}
