@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*/

html {
  overflow-y: scroll;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

ul, li {
  @apply px-[10px] xl:px-[20px]
}

.nav-links {
  @apply font-normal hover:text-blue-300 transition-colors duration-100 cursor-pointer;
}

.stacked-card {
  @apply w-98 h-98 border rounded-2xl absolute cursor-pointer transition-transform duration-100 ease-in-out hover:-translate-y-4 hover:scale-100;
}

.wwd-item {
  @apply max-w-75;
}

.wwd-item div {
  @apply w-12 h-12 bg-black mb-1 sm:mb-6;
}

.wwd-item p {
  @apply pb-4 sm:pb-0;
}

.services-parent h4 {
  @apply text-lg;
}

.servcie-container {
  @apply sm:max-w-[365px] min-w-[300px];
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.30);
  @apply flex-1 h-full;
}

.servcie-container h3 {
  @apply text-xl;
}